.product-name {
  color: #292929;
  font-family: "geist Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: -0.2px;
}
.sale_price {
  color: #141414;
  text-align: right;
  font-family: "geist Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: -0.2px;
}
.price-before-discount {
  color: #141414;
  text-align: right;
  font-family: "Geist";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.2px;
  text-decoration: line-through;
}
.main-description {
  color: #7a7a7a;
  font-family: "Geist";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.img-container {
  border-radius: 6px;
  background: #f2f2f2;
}
@media (max-width: 992px) {
  .product-name {
    font-size: 14px;
  }
  .sale_price {
    font-size: 16px;
  }
  .price-before-discount {
    font-size: 14px;
  }
  .main-description {
    font-size: 13px;
  }
}
